{{#each options as |option|}}
  {{#if group}}
  <div class="field">
    <div class="ui radio checkbox">
      {{ui-radio-button checked=checked value=option.value collectionName=collectionName checkOption='checkOption' }}
      <label>{{option.label}}</label>
    </div>
  </div>
  {{else}}
    <div class="ui radio checkbox">
      {{ui-radio-button checked=checked value=option.value collectionName=collectionName checkOption='checkOption' }}
      <label>{{option.label}}</label>
    </div>
  {{/if}}
{{/each}}
