<h1>Checkbox</h1>
<p {{action 'check'}}>
  isChecked is {{isChecked}}
</p>
{{ui-checkbox isChecked=isChecked label="Default"}}
{{ui-checkbox isChecked=isChecked label="Toggle" class='toggle'}}
{{ui-checkbox isChecked=isChecked label="Slider" class='slider'}}
