<h1>Checkbox</h1>

<div class="ui segment raised">
  <p>
    Set label="name" to have a label name displayed
  </p>
  <p>
    Pass in a variable as `isChecked` to bind a value
  </p>
  <p>
  Use the available Semantic UI classes to change the appearance, the following are available <pre>toggle, slider, fitted</pre>
  </p>

</div>

<div class="ui segment">
  <p>
    isChecked is {{isChecked}}
  </p>
  <pre>\{{ui-checkbox isChecked=isChecked label="Default"}}</pre>
  {{ui-checkbox isChecked=isChecked label="Default"}}
</div>

<div class="ui segment">
  <p>
    isChecked is {{isChecked}}
  </p>
  <pre>\{{ui-checkbox isChecked=isChecked label="Toggle" <span class="ui label olive">class='toggle'</span>}}</pre>
  {{ui-checkbox isChecked=isChecked label="Toggle" class='toggle'}}
</div>

<div class="ui segment">
  <p>
    isChecked is {{isChecked}}
  </p>
  <pre>\{{ui-checkbox isChecked=isChecked label="Slider" <span class="ui label olive">class='slider'</span>}}</pre>
  {{ui-checkbox isChecked=isChecked label="Slider" class='slider'}}
</div>

<div class="ui segment">
  <p>
    isChecked is {{isChecked}}
  </p>
  <pre>\{{ui-checkbox isChecked=isChecked <span class="ui label olive">class='fitted'</span>}}</pre>
  {{ui-checkbox isChecked=isChecked class='fitted'}}
</div>
