<h1>Checkbox</h1>

<div class="ui segment raised">
  <p>
    Set label="name" to have a label name displayed
  </p>
  <p>
    Pass in a variable as `isChecked` to bind a value
  </p>
  <p>
  Use the available Semantic UI classes to change the appearance, the following are available <pre>toggle, slider, fitted</pre>
  </p>

</div>

<div class="ui segment">
  <div class="ui header">
    Use with simple label
  </div>
  <p>
    isChecked is {{isChecked}}
  </p>
  <pre class="ui segment green">\{{ui-checkbox isChecked=isChecked label="Default"}}</pre>
  <div class="ui segment grey">
    {{ui-checkbox isChecked=isChecked label="Default"}}
  </div>

</div>

<div class="ui segment">
  <div class="ui header">
    Style as a toggler
  </div>
  <p>
    isChecked is {{isChecked}}
  </p>
  <pre class="ui segment green">\{{ui-checkbox isChecked=isChecked label="Toggle" <span class="ui label olive">class='toggle'</span>}}</pre>
  <div class="ui segment grey">
    {{ui-checkbox isChecked=isChecked label="Toggle" class='toggle'}}
  </div>
</div>

<div class="ui segment">
  <div class="ui header">
    Style as a slider
  </div>
  <p>
    isChecked is {{isChecked}}
  </p>
  <pre class="ui segment green">\{{ui-checkbox isChecked=isChecked label="Slider" <span class="ui label olive">class='slider'</span>}}</pre>
  <div class="ui segment grey">
    {{ui-checkbox isChecked=isChecked label="Slider" class='slider'}}
  </div>
</div>

<div class="ui segment">
  <div class="ui header">
    Style as a fitted checkbox
  </div>
  <p>
    isChecked is {{isChecked}}
  </p>
  <pre class="ui segment green">\{{ui-checkbox isChecked=isChecked <span class="ui label olive">class='fitted'</span>}}</pre>
  <div class="ui segment grey">
    {{ui-checkbox isChecked=isChecked class='fitted'}}
  </div>
</div>
