<h1>Radio</h1>
<div class="ui segment raised">
  <p>
    Given an Array of objects you need to pass in the name of the label and value on the objects
  </p>
</div>

<div class="ui segment">
  <div class="ui header">
    Display as a simple group
  </div>
  Selected item value is: {{checked}}
  <pre class="ui segment green">
    \{{ui-radio-collection
      optionCollection=namedCollection
      checked=checked
      value='rgb'
      label='color'
    }}
  </pre>
  <div class="ui segment grey">
    {{ui-radio-collection optionCollection=namedCollection checked=checked value='rgb' label='color'}}
  </div>
</div>

<div class="ui segment">
  <div class="ui header">
    Group the options
  </div>
  Selected item value is: {{checked}}
  <pre class="ui segment green">
    \{{ui-radio-collection
      optionCollection=namedCollection
      checked=checked
      value='rgb'
      label='color',
      <span class="ui label olive">group=true</span>
    }}
  </pre>
  <div class="ui segment grey">
    {{ui-radio-collection optionCollection=namedCollection checked=checked value='rgb' label='color' group=true}}
  </div>
</div>
